@charset "UTF-8";
.header {
  height: 44px;
  background-color: #31c27c;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header > a > img {
    height: 25px;
    margin-left: 10px; }
  .header > .download {
    background: #149c5a;
    width: 81.05px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border-radius: 14px;
    font-size: 14px;
    color: #fff;
    padding: 0 12px;
    margin: 0 10px;
    text-decoration: none; }

.nav-list {
  display: flex;
  align-items: center;
  background: #fff;
  height: 40px;
  cursor: pointer; }
  .nav-list > .nav-item {
    color: rgba(0, 0, 0, 0.6);
    flex: 1;
    text-align: center;
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 16px; }
    .nav-list > .nav-item.active {
      color: #31c27c; }
    .nav-list > .nav-item.active::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      left: 0;
      height: 2px;
      background: #31c27c; }

* {
  box-sizing: border-box;
  /*手机网站点击链接触发颜色块的问题解决*/
  -webkit-tap-highlight-color: transparent;
  /*蓝框*/
  outline: none;
  /*禁止选择*/
  user-select: none;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  font: 12px/1.5 "hiragino sans gb",arial; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.views > .hide {
  display: none; }

.qq-slider {
  width: 100%;
  overflow: hidden;
  margin-bottom: 14px; }
  .qq-slider .qq-slider-wrap {
    display: flex; }
  .qq-slider .qq-slider-item {
    flex-basis: 100%; }
    .qq-slider .qq-slider-item > a {
      display: block; }
      .qq-slider .qq-slider-item > a > img {
        width: 100%;
        display: block; }

.two-cool-list,
.hot-music-list {
  margin: 0 2px 7px 10px;
  height: 100%; }
  .two-cool-list > h2,
  .hot-music-list > h2 {
    font-size: 16px;
    color: #000;
    margin-bottom: 11px;
    font-weight: normal; }
  .two-cool-list .play-radio,
  .two-cool-list .play-song,
  .hot-music-list .play-radio,
  .hot-music-list .play-song {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: -10px; }
    .two-cool-list .play-radio .radio-item,
    .two-cool-list .play-song .radio-item,
    .hot-music-list .play-radio .radio-item,
    .hot-music-list .play-song .radio-item {
      flex: 1;
      margin-right: 8px;
      flex-basis: 45%;
      display: block;
      background: #fff;
      min-width: 145px;
      margin-bottom: 10px; }
      .two-cool-list .play-radio .radio-item .radio-link,
      .two-cool-list .play-song .radio-item .radio-link,
      .hot-music-list .play-radio .radio-item .radio-link,
      .hot-music-list .play-song .radio-item .radio-link {
        width: 100%;
        display: block;
        background: #fff;
        text-decoration: none;
        position: relative; }
        .two-cool-list .play-radio .radio-item .radio-link .radio-img,
        .two-cool-list .play-song .radio-item .radio-link .radio-img,
        .hot-music-list .play-radio .radio-item .radio-link .radio-img,
        .hot-music-list .play-song .radio-item .radio-link .radio-img {
          display: block;
          width: 100%;
          min-height: 145px;
          margin-bottom: 5px; }
        .two-cool-list .play-radio .radio-item .radio-link .icon,
        .two-cool-list .play-song .radio-item .radio-link .icon,
        .hot-music-list .play-radio .radio-item .radio-link .icon,
        .hot-music-list .play-song .radio-item .radio-link .icon {
          background-repeat: no-repeat;
          background-size: 24px 60px;
          background-image: url("../images/list_sprite.png"); }
        .two-cool-list .play-radio .radio-item .radio-link .icon-play,
        .two-cool-list .play-song .radio-item .radio-link .icon-play,
        .hot-music-list .play-radio .radio-item .radio-link .icon-play,
        .hot-music-list .play-song .radio-item .radio-link .icon-play {
          height: 24px;
          bottom: 46px;
          right: 5px;
          width: 24px;
          position: absolute;
          background-position: 0 0; }
        .two-cool-list .play-radio .radio-item .radio-link .radio-title,
        .two-cool-list .play-song .radio-item .radio-link .radio-title,
        .hot-music-list .play-radio .radio-item .radio-link .radio-title,
        .hot-music-list .play-song .radio-item .radio-link .radio-title {
          font-size: 14px;
          font-weight: normal;
          height: 36px;
          line-height: 18px;
          color: #000;
          display: block;
          width: 100%;
          padding: 0 7px 5px 7px; }
          .two-cool-list .play-radio .radio-item .radio-link .radio-title > h3,
          .two-cool-list .play-song .radio-item .radio-link .radio-title > h3,
          .hot-music-list .play-radio .radio-item .radio-link .radio-title > h3,
          .hot-music-list .play-song .radio-item .radio-link .radio-title > h3 {
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .two-cool-list .play-radio .radio-item .radio-link .radio-title :nth-child(2),
          .two-cool-list .play-song .radio-item .radio-link .radio-title :nth-child(2),
          .hot-music-list .play-radio .radio-item .radio-link .radio-title :nth-child(2),
          .hot-music-list .play-song .radio-item .radio-link .radio-title :nth-child(2) {
            font-size: 12px; }

.hot-music-list > .findmore {
  text-align: center; }
  .hot-music-list > .findmore > a {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6); }

.footer {
  padding: 15px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer > a {
    color: #000;
    font-size: 14px;
    display: block;
    padding-bottom: 16px; }
  .footer > img {
    display: block;
    width: 82px;
    padding-bottom: 10px; }
  .footer > p {
    font-size: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5); }

.rank-view {
  box-sizing: border-box;
  margin: 10px;
  display: block; }
  .rank-view .rank-list {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block; }
    .rank-view .rank-list .topic_item {
      margin-bottom: 10px;
      display: block;
      text-align: -webkit-match-parent; }
      .rank-view .rank-list .topic_item .topic_main {
        display: flex;
        background: #fff;
        height: 100px;
        justify-content: flex-start; }
        .rank-view .rank-list .topic_item .topic_main .topic_media {
          position: relative; }
          .rank-view .rank-list .topic_item .topic_main .topic_media > img {
            height: 100px; }
          .rank-view .rank-list .topic_item .topic_main .topic_media .listen_count {
            display: block;
            z-index: 10;
            color: #fff;
            font-size: 9px;
            position: absolute;
            left: 5px;
            bottom: 7px;
            opacity: .6;
            line-height: 12px; }
            .rank-view .rank-list .topic_item .topic_main .topic_media .listen_count > .icon_listen {
              display: block;
              float: left;
              z-index: 10;
              width: 10px;
              height: 10px;
              background-image: url(../images/list_sprite.png);
              background-position: 0 -50px;
              background-size: 24px 60px;
              background-repeat: no-repeat;
              margin-right: 3px;
              line-height: 12px; }
        .rank-view .rank-list .topic_item .topic_main .topic_info {
          display: flex;
          align-items: center;
          width: 100%;
          position: relative;
          max-width: calc(100% - 100px); }
          .rank-view .rank-list .topic_item .topic_main .topic_info .topic_cont {
            margin: 0 10px 0 15px;
            width: 100%;
            display: block;
            width: 100%;
            flex: 1;
            max-width: calc(100% - 35px); }
            .rank-view .rank-list .topic_item .topic_main .topic_info .topic_cont .topic_tit {
              display: block;
              margin-bottom: 5px;
              font-size: 16px;
              font-weight: normal;
              color: #000;
              width: 100%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              text-align: -webkit-match-parent; }
            .rank-view .rank-list .topic_item .topic_main .topic_info .topic_cont > p {
              font-size: 14px;
              color: rgba(0, 0, 0, 0.5);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 100%;
              max-width: 100%; }
            .rank-view .rank-list .topic_item .topic_main .topic_info .topic_cont .text_name {
              color: #000;
              margin-left: 8px;
              margin-right: 5px; }
          .rank-view .rank-list .topic_item .topic_main .topic_info .topic_arrow {
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -4px;
            width: 6px;
            height: 6px;
            border-right: 1px solid #b2b2b2;
            border-bottom: 1px solid #b2b2b2;
            transform: rotate(-45deg); }

.seek-view .mod_search_bar {
  padding: 10px;
  height: 56px;
  display: flex;
  background: #f4f4f4; }
  .seek-view .mod_search_bar .inputarea {
    height: 36px;
    background: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    position: relative; }
    .seek-view .mod_search_bar .inputarea .icon-search {
      background-image: url(../images/icon-search.png);
      width: 18px;
      height: 18px;
      z-index: 99;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 10px; }
    .seek-view .mod_search_bar .inputarea > input {
      border: 0;
      height: 20px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.3);
      width: 100%; }
    .seek-view .mod_search_bar .inputarea .icon-del {
      display: inline;
      position: absolute;
      width: 18px;
      height: 18px;
      background: #b1b1b1;
      top: 9px;
      right: 12px;
      border-radius: 99px;
      text-indent: 999px; }
    .seek-view .mod_search_bar .inputarea .icon-del:before {
      width: 10px;
      height: 2px;
      margin-top: -1px;
      margin-left: -5px; }
    .seek-view .mod_search_bar .inputarea .icon-del:before,
    .seek-view .mod_search_bar .inputarea :after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 8px;
      background: #fff;
      -webkit-transform: rotate(45deg); }
    .seek-view .mod_search_bar .inputarea .icon-del:after {
      width: 2px;
      height: 10px;
      margin-left: -1px;
      margin-top: -5px; }

.seek-view .cleararea {
  display: block;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  color: #555;
  font-size: 14px;
  white-space: nowrap;
  /*处理元素中的空白,连续的空白符会被合并。但文本内的换行无效。*/ }

.hot-search {
  background: #fff;
  padding: 15px 15px 10px 15px; }
  .hot-search > h3 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 8px; }
  .hot-search .hot-search-tips {
    display: flex;
    flex-wrap: wrap; }
    .hot-search .hot-search-tips .hot-tip {
      display: block;
      padding: 0 10px;
      margin: 0 14px 10px 0;
      border-radius: 15px;
      height: 30px;
      line-height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.6);
      color: #000;
      border-color: #000;
      text-align: center;
      font-size: 14px; }
    .hot-search .hot-search-tips :nth-child(1) {
      color: #fc4524;
      border-color: #fc4524; }

.history-lists {
  background: #FFF; }
  .history-lists .his-list {
    border-top: 1px solid #ededed;
    color: #555;
    height: 44px;
    line-height: 44PX;
    display: flex;
    align-items: center; }
    .history-lists .his-list .icon-history {
      display: block;
      width: 20px;
      height: 20px;
      background-image: url(../images/history.png);
      background-size: cover;
      margin: 0 15px;
      border: none; }
    .history-lists .his-list .title-history {
      font-size: 14px;
      color: #000;
      display: block;
      flex: 1; }
    .history-lists .his-list .icon-close {
      display: block;
      width: 20px;
      height: 20px;
      margin: 0 15px;
      position: relative; }
  .history-lists .clear-history {
    height: 44px;
    text-align: center; }
    .history-lists .clear-history > a {
      color: #47c88a;
      line-height: 44px;
      font-size: 12px; }
  .history-lists .icon-close:before {
    width: 17px;
    height: 1px;
    margin-top: 0px;
    margin-left: -8px; }
  .history-lists .icon-close:before,
  .history-lists :after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: rotate(45deg); }
  .history-lists .icon-close:after {
    width: 1px;
    height: 17px;
    margin-left: 0px;
    margin-top: -8px; }

.seek-view > .hide {
  display: none; }

.seek-view > .mod_search_bar > .hide {
  display: none; }

.seek-view > .mod_search_bar > .inputarea > .hide {
  display: none; }

.search-area .search-result-list {
  background-color: #fff;
  display: flex;
  flex-direction: column; }
  .search-area .search-result-list .search-result {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 55px; }
    .search-area .search-result-list .search-result .music-icon {
      display: block;
      height: 20px;
      width: 22px;
      background-repeat: no-repeat;
      background-image: url(../images/icon-music.png);
      background-position: 0 0;
      background-size: 22px 30px;
      position: absolute;
      top: 18px;
      left: 18px;
      width: 22px;
      height: 20px; }
    .search-area .search-result-list .search-result .result-title {
      display: block;
      margin-top: 10px;
      margin-bottom: 2px;
      font-size: 16px;
      line-height: 18px;
      font-weight: normal;
      color: #000;
      margin-left: 55px; }
    .search-area .search-result-list .search-result .result-singer {
      display: block;
      color: #808080;
      margin-left: 55px; }
    .search-area .search-result-list .search-result .result-title,
    .search-area .search-result-list .search-result .result-singer {
      overflow: hidden;
      /*当内容溢出其块级容器时,内容会被修剪,并且其余内容不可见*/
      text-overflow: ellipsis;
      /*显示一个省略号*/
      white-space: nowrap;
      /*处理元素中的空白,连续的空白符会被合并。但文本内的换行无效。*/ }

.search-area .search-footer {
  display: flex;
  justify-content: center; }
  .search-area .search-footer .icon-loading {
    width: 12px;
    height: 12px;
    background-image: url(../images/icon_loading.png);
    background-size: cover;
    background-position: 0 0;
    z-index: 999;
    margin-top: 12px;
    margin-right: 5px;
    display: block; }
  .search-area .search-footer > p {
    line-height: 40px;
    color: #808080;
    font-size: 12px;
    text-align: center; }
