@charset "UTF-8";
.header {
  height: 44px;
  background-color: #31c27c;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header > a > img {
    height: 25px;
    margin-left: 10px; }
  .header > .download {
    background: #149c5a;
    width: 81.05px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border-radius: 14px;
    font-size: 14px;
    color: #fff;
    padding: 0 12px;
    margin: 0 10px;
    text-decoration: none; }

.nav-list {
  display: flex;
  align-items: center;
  height: 40px; }
  .nav-list > .nav-item {
    color: rgba(0, 0, 0, 0.6);
    flex: 1;
    text-align: center;
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 16px; }
    .nav-list > .nav-item.active {
      color: #31c27c; }
    .nav-list > .nav-item.active::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      left: 0;
      height: 2px;
      background: #31c27c; }

* {
  box-sizing: border-box;
  /*手机网站点击链接触发颜色块的问题解决*/
  -webkit-tap-highlight-color: transparent;
  /*蓝框*/
  outline: none;
  /*禁止选择*/
  user-select: none;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  font: 12px/1.5 "hiragino sans gb",arial;
  min-width: 320px; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.views > .hide {
  display: none; }

.qq-slider {
  width: 100%;
  overflow: hidden;
  margin-bottom: 14px; }
  .qq-slider .qq-slider-wrap {
    display: flex; }
  .qq-slider .qq-slider-item {
    flex-basis: 100%; }
    .qq-slider .qq-slider-item > a {
      display: block; }
      .qq-slider .qq-slider-item > a > img {
        width: 100%;
        display: block; }

.two-cool-list {
  margin: 0 2px 7px 10px; }
  .two-cool-list > h2 {
    font-size: 16px;
    color: #000;
    margin-bottom: 11px;
    font-weight: normal; }
  .two-cool-list .play-radio {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: -10px; }
    .two-cool-list .play-radio .radio-item {
      flex: 1;
      margin-right: 8px;
      flex-basis: 40%;
      display: block;
      background: #fff; }
      .two-cool-list .play-radio .radio-item .radio-link {
        width: 100%;
        display: block;
        background: #fff;
        text-decoration: none;
        position: relative; }
        .two-cool-list .play-radio .radio-item .radio-link .radio-img {
          display: block;
          width: 100%;
          min-height: 145px;
          margin-bottom: 5px; }
        .two-cool-list .play-radio .radio-item .radio-link .icon {
          background-repeat: no-repeat;
          background-size: 24px 60px;
          background-image: url("../images/list_sprite.png"); }
        .two-cool-list .play-radio .radio-item .radio-link .icon-play {
          height: 24px;
          bottom: 46px;
          right: 5px;
          width: 24px;
          position: absolute;
          background-position: 0 0; }
        .two-cool-list .play-radio .radio-item .radio-link .radio-title {
          font-size: 14px;
          font-weight: normal;
          height: 36px;
          line-height: 18px;
          color: #000;
          display: block;
          width: 100%;
          padding: 0 7px 5px 7px; }

.hot-music-list {
  margin: 2px 10px 7px 10px;
  height: 75px; }
  .hot-music-list > h2 {
    font-size: 16px;
    color: #000;
    margin-bottom: 11px;
    font-weight: normal;
    display: block; }
  .hot-music-list > p {
    text-align: center;
    height: 40px;
    line-height: 40px; }
    .hot-music-list > p > a {
      color: rgba(0, 0, 0, 0.6);
      text-decoration: none;
      font-size: 14px; }

.footer {
  padding: 15px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer > a {
    color: #000;
    font-size: 14px;
    display: block;
    padding-bottom: 16px; }
  .footer > img {
    display: block;
    width: 82px;
    padding-bottom: 10px; }
  .footer > p {
    font-size: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5); }
