* {
    box-sizing: border-box;
    /*手机网站点击链接触发颜色块的问题解决*/
    -webkit-tap-highlight-color: transparent;
    /*蓝框*/
    outline: none;
    /*禁止选择*/
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: $body-background;
    font: 12px/1.5 "hiragino sans gb",arial;
    // min-width: 320px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}