    .two-cool-list,
.hot-music-list {
    margin: 0 2px 7px 10px;
    height: 100%;
        >h2 {
            font-size: 16px;
            color: #000;
            margin-bottom: 11px;
            font-weight: normal;
        }
        .play-radio,
        .play-song {
            display: flex;
            flex-wrap: wrap; // justify-content: space-between;
            width: 100%;
            padding-right: -10px;
            .radio-item {
                flex: 1;
                margin-right: 8px;
                flex-basis: 45%;
                display: block;
                background: #fff;
                min-width: 145px;
                margin-bottom: 10px;
                .radio-link {
                    width: 100%;
                    display: block;
                    background: #fff;
                    text-decoration: none;
                    position: relative;
                    .radio-img {
                        display: block;
                        width: 100%; // position: absolute;
                        min-height: 145px;
                        margin-bottom: 5px;
                    }
                    .icon {
                        background-repeat: no-repeat;
                        background-size: 24px 60px;
                        background-image: url('../images/list_sprite.png');
                    }
                    .icon-play {
                        height: 24px;
                        bottom: 46px;
                        right: 5px;
                        width: 24px;
                        position: absolute;
                        background-position: 0 0;
                    }
                    .radio-title {
                        font-size: 14px;
                        font-weight: normal;
                        height: 36px;
                        line-height: 18px;
                        color: #000;
                        display: block;
                        width: 100%;
                        padding: 0 7px 5px 7px;
                        >h3 {
                            font-size: 14px;
                            font-weight: normal;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        :nth-child(2) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .hot-music-list > .findmore {
        text-align: center;
        
        >a {
            display: inline-block;
            padding: 0 10px;
            font-size: 14px;
            color: rgba(0,0,0,.6);

        }
       
    }
    .footer {
        padding: 15px 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center; // text-align: center;
        >a {
            color: #000;
            font-size: 14px;
            display: block;
            padding-bottom: 16px;
        }
        >img {
            display: block;
            width: 82px;
            padding-bottom: 10px;
        }
        >p {
            font-size: 10px;
            text-align: center;
            color: rgba(0, 0, 0, .5);
        }
    }