.qq-slider {
    width: 100%;
    overflow: hidden;
    margin-bottom: 14px;
    .qq-slider-wrap {
        display: flex;
    }
    .qq-slider-item {
        flex-basis: 100%;
        >a {
            display: block;
            >img {
                width: 100%;
                display: block;
            }
        }
    }
}