
$header-height: 44px;
$header-background: #31c27c;

$download-background: #149c5a;
$download-height: 28px;
$download-width: 81.05px;
$download-fontsize: 14px;
$download-color: #fff;

$logo-height: 25px;

$body-background: #f4f4f4;

$nav-item-height: 40px;
$nav-item-color: rgba(0,0,0,.6);
$nav-item-active: #31c27c;
$nav-item-fontsize: 16px;